<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>메뉴판</p>
    <img src="/images/menu_take5.png" style="width: 250px; height: 300px;" onclick="window.open(this.src)">
    <img src="/images/menu_deli.png" style="width: 250px; height: 300px;" onclick="window.open(this.src)">
    <img src="/images/menu_speedbox1.png" style="width: 250px; height: 300px;" onclick="window.open(this.src)">
    <img src="/images/menu_speedbox2.png" style="width: 250px; height: 300px;" onclick="window.open(this.src)">
    <img src="/images/menu_chidle.png" style="width: 250px; height: 300px;" onclick="window.open(this.src)">
  </body>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</html>
