<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>메뉴판</p>
<img src="/images/menu_speedbox1.png">
<img src="/images/menu_speedbox2.png">

<p>테이크 파이브 메뉴 입력</p>
<input type="text" id="input_menu">
<input type="button" id="input_btn" value="입력">
<input type="button" id="reset_btn" value="초기화">
<input type="button" id="reg_btn" value="등록">
<p id="result"></p>
</body>
<script type="text/javascript" src="/javascripts/init.js"></script>
</html>
